---
import IndividualProject from "@/components/IndividualProject.astro";
import { projects } from "@/utils/static-data";
---

<div class="mx-auto max-w-screen-lg py-6">
  <div class="mb-6 text-2xl font-bold">
    <div class="flex items-baseline justify-between">
      <div>
        Recent <span class="bg-gradient-to-br bg-clip-text text-green-800"
          >Projects</span
        >
      </div>
      <div class="text-sm">
        <a href="https://github.com/anurag-dhamala" target="_blank"
          >View all projects →</a
        >
      </div>
    </div>
  </div>
  <!-- <div class="grid grid-cols-1 gap-6 md:grid-cols-3">
    {
      projects.slice(0, 3).map((project) => {
        return (
          <IndividualProject
            title={project.title}
            date={project.date}
            description={project.description}
          />
        );
      })
    }
  </div> -->
  <div class="flex flex-col gap-8">
    <section class="flex flex-col gap-4">
      {
        projects.slice(0, 4).map((project) => {
          return (
            <IndividualProject
              title={project.title}
              description={project.description}
              link={project.link}
            />
          );
        })
      }
    </section>
  </div>
</div>
